@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1E213F;
    font-family: 'Kumbh Sans';
    overflow-y: hidden;
    overflow-x: hidden;
}

#header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}
#pomodoro-shortBreak-longBreak-options{
    color: #D7E0FF;
    width: 25em;
    height: 4em;
    border-radius: 31.5px;
    background: #161932;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
}
.options{
    background-color: #F87070;
    width: 8em;
    height: 3em;
    border-radius: 31.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #161932;
}

#shortBreak-option{
  background-color: transparent;
  color: #fff;
}
#longBreak-option{
  background-color: transparent;
  color: #fff;
}

#outer-circle{
    width: 19em;
    height: 19em;
    border-radius: 410px;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: 50px 50px 100px 0px #121530, -50px -50px 100px 0px #272C5A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#inner-circle{
    width: 17em;
    height: 17em;
    border-radius: 50%;
    background: #161932;
    position: relative;
}

.timer-display{
    color: #D7E0FF;
    display: flex;
    justify-content: center;
    padding-top: .8em;
    font-family: Kumbh Sans;
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -5px;
}

.buttons{
    color: #D7E0FF;
    text-align: center;
    font-family: Kumbh Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 10px;
    background: transparent;
    border: none;
    position: relative;
    top: -23.5em;
    left: 6.5em;
}

.buttons:hover{
  color: #F87070;
}

.pathHide{
  visibility: hidden;
}
.pathShow{
  visibility: visible;
}

#pause {
display: none;
}
#restart{
  display: none;
  left: 5.5em;
}
.hide{
  display: none;
}
.display{
  display: block;
}
.progress-container{
    position: relative;
    top: -12.2em;
    left: -2em;
}
#progress-path {
    stroke-dasharray: 1005;
    stroke-dashoffset:0;
    transition: stroke-dashoffset 0.2s;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
  }
  #settings-icon{
    margin-left: 39em;
    margin-top: 2em;
    position: relative;
  }
   
  #settings{
   width: 32em;
   height: 26em;
   background-color: #ffffff;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   margin: -31em auto;
   position: relative;
   z-index: 1;
   cursor: pointer;
   display: none;
  }

  .apply-button{
    border-radius: 26.5px;
    width: 7em;
    height: 2.7em;
    background-color: #F87070;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 7em;
    color: #fff;
    font-family: 'Kumbh Sans';
  }

  #colors-option{
    position: relative;
    top: 6.8em;
    left: 2em;
    color: #161932;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
  }

  .color{
    width: 2.9em;
    height: 2.9em;
    border-radius: 50%;
    position: relative;
    left: .35em;
    top: .35em;
    background-color: #EFF1FA;
    border: none;
    cursor: pointer;
  }

  #color-one{
    background: #F87070;
  }
  #color-two{
    background: #70F3F8;
  }
  #color-three{
    background: #D881F8;
  }
  .firstColor{
    stroke: #F87070;
    background: #F87070;
    color: #1E213F;
  }

  .secondColor{
    stroke: #70F3F8;
    background: #70F3F8;
    color: #1E213F;
  }
  .thirdColor{
    stroke: #D881F8;
    background: #D881F8;
    color: #1E213F;
  }

  .border-div{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 5em;
    left: 17em;
    margin-left: 1em;
  }

  #path2{
    visibility: hidden;
  }
  #path3{
    visibility: hidden;
  }

  .colorOneDiv:hover{
    border: 1.5px solid #EFF1FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .colorTwoDiv:hover{
    border: 1.5px solid #EFF1FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .colorThreeDiv:hover{
    border: 1.5px solid #EFF1FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .three-line-break{
    position: relative;
    top: 5.5em;
    left: 2em;
    opacity: 0.4;
    background: #161932;
    width: 27.5em;
  }

 .font-border-div{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 4.5em;
    left: 17em;
    margin-left: 1em;
   }

   .fontOneDiv:hover{
    border: 1.5px solid #EFF1FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   }
   .fontTwoDiv:hover{
    border: 1.5px solid #EFF1FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   }
   .fontThreeDiv:hover{
    border: 1.5px solid #EFF1FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   }

  .font-option-one{
    font-family: Kumbh Sans !important;
  }
  .font-option-two{
    font-family: Roboto Slab !important;
  }
  .font-option-three{
    font-family: Space Mono ;
  }
  .selected{
    background-color: #161932 !important;
    color: #fff;
  }
  .sizeTwo{
    font-size: 77px;
    font-family: Roboto Slab;
  }
  .sizeThree{
    font-size: 70px;
    font-family: Space Mono;
  }

 .fonts{
    width: 2.9em;
    height: 2.9em;
    border-radius: 50%;
    background-color: #EFF1FA;
    border: none;
    cursor: pointer;
    position: relative;
    top: .35em;
    left: .35em;
 }

 #font-styles{
    color: #161932;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    position: relative;
    top: 6.5em;
    left: 2em;
 }

 .second-line-break{
    position: relative;
    top: 5em;
    left: 2em;
    opacity: 0.4;
    background: #161932;
    width: 27.5em;
 }

 .inputs{
    width: 8em;
    height: 3.5em;
    border-radius: 10px;
    background: #EFF1FA;
    border: none;
    transform: translateY(55px);
    padding-left: 1em;
    margin-left: 1.5em;
    cursor: pointer;
 }

 #pomodoro-input-text{
    margin-left: 2em;
 }
 
 .arrows{
   position: relative;
   left: -3em;
   transform: translateY(65px);
   background-color: #EFF1FA;
   border: none;
   cursor: pointer;
 }

 .labels{
    position: relative;
    top: 3.5em;
    margin: 2em 2.5em;
    font-size: .9em;
    opacity: 0.4000000059604645;
 }

 #long-break-label{
    position: relative;
    left: 1.3em;
 }

 .first-line-break{
    position: relative;
    top: 1.5em;
    opacity: 0.4;
    background: #161932;  
 }

 #time-text{
    color: #161932;
    font-family: Kumbh Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    position: relative;
    top: 3em;
    margin-left: 2.8em;
 }
 #settings-text{
    color: #161932;
    font-family: Kumbh Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1em;
    margin-left: 1.5em;
    padding-top: 1em;
 }
 #close_icon{
    margin-left: 13.8em;
 }

 @media only screen and  (max-width: 1441px){
  #settings-icon{
    margin-left: 44.5em;
    margin-top: 4em;
    position: relative;
  }
 }

 @media only screen and  (max-width: 1025px){
  #settings-icon{
    margin-left: 31em;
  }
 }

 @media only screen and  (max-width: 769px){
  #pomodoro-shortBreak-longBreak-options{
      margin: 1em auto;
      width: 22em;
      height: 3.2em;
  }
  .options{
      width: 7em;
      height: 2.6em; 
  }
  #settings-icon{
    margin-left: 23em;
    margin-top: 1em;
  }
  #settings{
    margin-top: -27em;
    width: 29em;
    height: 22.5em;
  }
  .inputs{
    width: 7em;
    height: 3em;
  }
  #close_icon{
    margin-left: 11em;
 }
 .font-border-div{
  left: 14.5em;
 }
 .second-line-break{
  width: 25em;
}
.three-line-break{
  width: 25em;
}
.border-div{
  left: 14.5em;
}
.apply-button{
  top: 5em;
}
#outer-circle{
  margin-top: -.5em;
}
 }

 @media only screen and  (max-width: 426px){
  #settings{
    width: 30em;
    margin-left: 1.5em;
  }
  #settings-icon{
    margin-left: 12em;
  }
  .apply-button{
    top: 5em;
  }
 }

 @media only screen and  (max-width: 376px){
  #header{
    margin-left: 5em;
    padding-top: 1em;
  }
  #pomodoro-shortBreak-longBreak-options{
      margin: 1em 2em;
      width: 21em;
  }
  .options{
      width: 6.8em;
      height: 2.6em; 
  }
  #settings-icon{
    margin-left: 12em;
  }
  #settings{
    width: 26em;
    height: 36em;
    margin: -30em 3em;
   }
  #outer-circle{
    margin-left: 3em;
    margin-right: 2.5em;
  }
  .apply-button{
    top: 8em;
  }
  .border-div{
    top: 8em;
    left: 6em;
  }
  #colors-option{
    margin-top: -15em;
    margin-left: 8em;
  }
  .three-line-break{
    top: -9em;
    width: 22em;
  }
 .font-border-div{
    top: -10em;
    left: 6em;
   }
   #font-styles{
    top: -11em;
    margin-left: 9em;
 }
 .second-line-break{
    top: -12em;
    width: 22em;
 }
 .inputs{
  transform: translateY(-200px);
  margin-left: 16em;
  display: grid;
  width: 140px;
}
#pomodoro-input-text{
  margin-left: 16em;
  transform: translateY(-170px);
}
#short_break-input-text{
  transform: translateY(-185px);
}
.arrows{
  left: 25em;
  transform: translateY(-235px);
 }
 .short_arrow{
  transform: translateY(-220px);
 }
 .pomodoro_arrow{
  transform: translateY(-205px);
 }
 .labels{
  top: .5em;
  display: grid;
  padding-top: 1em;
}
#long-break-label{
  left: 0em;
}
#close_icon{
  margin-left: 13em;
  position: relative;
  top: -1em;
}
.first-line-break{
  top: .5em;
}
#time-text{
  top: 2em;
  margin-left: 7.8em;
}
 }

 @media only screen and  (max-width: 321px){
  #settings{
    height: 38em;
    margin: -28em 3em;
   }
   .apply-button{
    top: 10em;
  }
  #settings-icon{
    margin-left: 12em;
    margin-top: 3em;
  }
 }