@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Space+Mono&display=swap');


body{
    background-color: #1E213F;
    overflow-x: hidden;
    overflow-y: hidden;
    font-style: normal;
    font-family: 'Kumbh Sans';
} 

#header{
    padding-top: 1em;;
}

#container{
    text-align: center;
    }

#spans{
    width: 21.5em;
    height: 4em;
    background-color: #161932; 
    border-radius: 40px;
    margin: 1em auto;

    }
    .options{
        height: 3.5em;
        width: 8em;
        position: relative;
        color: #D7E0FF;
        border-radius: 40px;
        border: none;
        z-index: 6;
        font-weight: 700;
        cursor: pointer;
        background-color: #161932;
        margin-top: .6em;
        }

        .optionsPomo{
            height: 3.5em;
            width: 8em;
            position: relative;
            color: #D7E0FF;
            border-radius: 40px;
            border: none;
            z-index: 6;
            font-weight: 700;
            cursor: pointer;
            background-color: #F87070;
            margin-top: .6em;
            }
    

     #clock-bg{
            width: 23em;
            height: 23em;
            border-radius: 50%;
            position: relative;
            background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
            left: 25.5em;
            left: 50%;
            top: 11.5em;
            transform: translate(-50%,-50%);
         }

         #clock-bg2{
            width: 21em;
            height: 21em;
            margin: auto;
            background-color: #161932;
            border-radius: 100%;
            position: relative;
            top: 1.1em;
            left: -0.1em;
            opacity: 0.2;
            z-index: 2;
        }

        .main-container {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 11.5em;
            left: 50%;
            right: 50%;
            transform: translate(-50%,-50%);
            }
        
        .outermost-circle{
                width: 285px;
                height: 285px;
                background-color: #161932;
                border-radius: 50%;   
                z-index: 5;
               
            }
        
        .time-min{
            font-size: 5.5em;
            color: #D7E0FF;
            margin: auto;
            justify-content: center;
            align-items: center;
            position: relative;
            top: -2.85em;
            left: .8em;
            z-index: 5;
            font-weight: 700;
         }

        .time-colon{
            font-size: 6em;
            color: #D7E0FF;
            margin: auto;
            position: relative;
            top: -2.7em;
            left: .7em;
            z-index: 5;
            font-weight: 700;
        }

        .time-sec{
            color: #D7E0FF;
            margin: auto;
            position: relative;
            top: -2.8em;
            left: .7em;
            z-index: 5;
            font-size: 5.5em;
            font-weight: 700;
        }

        .space-mono-selected{
            font-weight: 400;

        }

        .start{
            color: #D7E0FF;
            letter-spacing: 0.5em;
            position: relative;
            left: 9.3em;
            right: 2em;
            top: -18em;
            cursor: pointer;
            background-color: transparent;
            border: none;
            font-weight: 600;
            z-index: 5;
            letter-spacing: 15px; 
           }

        .pause{
            color: #fff;
            letter-spacing: 0.5em; 
            cursor: pointer;
        }
        
        #restart{
            color: #fff;
            letter-spacing: 1em; 
            cursor: pointer;  
            left: 8em;
            position: relative;
        }

         #settings_icon{
            margin: 3% 45% 1% 49%;
            position: relative;
            top: -1em;
            left: -.1em;
        }

        #settings{
            margin: 4% 38% 1% 47%; 
            position: relative;
            top: -36em;
            bottom: 3em;
            display: none;
            z-index: 6;
        }

        #settings-dashboard{
            background-color: #fff;
            width: 32em;
            height: 28em;
            border-radius: 2em;
            margin: auto;
            position: relative;
            right: 14em;
            }

        #settings-text{
                font-size: 1.5em;
                font-family: sans-serif;
                font-weight: 600;
                padding: 1em 1.5em;
            }

        #close_icon{
                margin-left: 12.7em;
                }

        .one{
                position: relative;
                top: -1.5em;
            }

        #time-text{
                padding: 0em 2.7em;
                margin-top: -0.8em;
                letter-spacing: 8.23077px;
                font-size: 0.85em;
                font-weight: 600;
                }

        input{
                width: 7em;
                height: 2.5em;
                border-radius: 0.8em;
                border: none;
                cursor: pointer;
                background-color: #EFF1FA;
            }

        .pomodoro_arrow{
                position: relative;
                top: 3em;
                right: 15em;
                background-color: #EFF1FA;
                border: none;
                cursor: pointer;
            }

        .short_arrow{
                position: relative;
                right: 5.2em;
                top: -9.5em;
                background-color: #EFF1FA;
                border: none;
                cursor: pointer;
            }

        .long_arrow{
                position: relative;
                right: -31.5em;
                top: -16em;
                background-color: #EFF1FA;
                border: none;
                cursor: pointer;
            }

        .arrow_up{
                position: relative;
                top: -0.5em;
                left: 1.5em
            }

        .arrow_down{
                position: relative;
                top: 0.5em;
                right: -0.15em 
            }

        input .Text1{
                cursor: pointer;
            }

        .text1{
                margin: 1em 1em;
                opacity: 0.7;  
            }
        #doro{
                margin-left: 2.5em;
            }

        .text2{
                margin: -4.4em 12.6em;
                opacity: 0.7;
                position: relative;
                top: -2em;
            }
        .text3{
                margin: -5.5em 22.7em;
                opacity: 0.7;
                position: relative;
                top: -12em;
            }

        .Text1{
              margin : 0em 1em 0.5em 2.5em;
              padding-left: 1em;
              position: relative;
              top: 3em;
              right: 10em;
               
              }
        .Text2{
                margin: 8em 1em 0em 15em;
                padding-left: 1em;
                position: relative;
                top: -9.5em;
            }
        .Text3{
               margin: -2em 2em 1em 27em;
                position: relative;
                top: -13em;
                padding-left: 1em;
            }

        .two{
                position: relative;
                top: -14em;
                width: 26em;
                right: 13em;
                left: -11.5em;
            }

         #font-styles{
                letter-spacing: 0.8em;
                font-size: 0.85em;
                position: relative;
                top: -15em; 
                right: 13.2em;
                font-weight: 600;
            }

        .f1{
                font-family: 'Kumbh Sans', sans-serif;
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: #EFF1FA;
                position: relative;
                top: -18em;
                left: 4.5em;
                cursor: pointer;
                border: 1px solid transparent;
            }

         .f2{
                font-family: 'Roboto Slab', serif;
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: #EFF1FA; 
                position: relative;
                top: -18em;
                left: 6.3em;
                border: none;
                cursor: pointer;

            }

         .f3{
                font-family: 'Space Mono';
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: #EFF1FA;
                position: relative;
                top: -18em;
                left: 8.3em;
                border: none;
                cursor: pointer;
                
            }

        .three{
                width: 26em;
                position: relative;
                top: -14em;
                right: 11.5em;
            }

        #change-colors{
                letter-spacing: 0.8em;
                font-size: 0.85em;
                position: relative;
                top: -15em; 
                right: 13.2em;
                font-weight: 600;
            }

        .c1{
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: #F87070; 
                position: relative;
                top: -18em;
                left: 4.5em;
                border: none;
                cursor: pointer;
                 }

        .font-div{
                    max-width: 10em;
                 }

        .c2{
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                    background-color: #70F3F8;
                    border: none;
                    position: relative;
                    top: -18em;
                    left: 6.5em;
                    cursor: pointer;
                }

        .c3{
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                    background-color: #D881F8;
                    position: relative;
                    top: -18em;
                    left: 8.2em;
                    border: none;
                    cursor: pointer;
                }

        .colors-div{
                    display: flex;
                    
                }
        
        
        .apply-button{
                    width: 5em;
                    height: 2em;
                    background-color:#70F3F8;
                    border-radius: 26.5px;
                    padding-left: 2em;
                    padding-top: 1em;
                    margin-top: -15em;
                    margin-left: 12em;
                    position: relative;
                    top: 15em;
                    z-index: 0;
                    cursor: pointer;
                    color: #fff;
                }

        .apply-button:hover{
           opacity: 0.9;
            ;
        }

        .hide_btn {
                    display: none;
                }
        .show_btn {
                    display: block;
                }
        .Pause {
                    display: none;
                }
        .Restart {
                    display: none;
                }

        .default-font-bg-color{
                    background-color: #EFF1FA;
                }

        .bg-default{
                    background-color: #161932;
                }

        .default-font-color{
                    color: #000;
                }

        .selected-font-color{
                    color: #fff;
                }

        .initial-color{
                    background-color: #70F3F8;
                }

        .first-color-display{
                    background-color: #F87070; 
                    
                }
        .second-color-display{
                    background-color: #70F3F8;
                }
        .third-color-display{
                    background-color: #D881F8;  
                }
        .DefaultColor{
                    background-color: #161932;
                }
        .DisplayF1{
                    font-family: 'Kumbh Sans';
                }
        .DisplayF2{
                    font-family: 'Roboto Slab', serif;
                }
        .DisplayF3{
                    font-family: 'Space Mono';
                }
        .hover-color1{
            color:#F87070;
        }
        .hover-color2{
            color:#70F3F8;
        }
        .hover-color3{
            color:#D881F8;
        }
        .moveLeave-color{
            color: #D7E0FF;
        }
        .display-path{
            display: block;  
            padding: .5em;
        }
        .hide-path{
            display: none;
        }
        .PATH2{
            display: none;
        }
        .PATH3{
            display: none;
        }
    
        .space-mono-selected{
                    margin-left: -1em;
                    margin-top: 3em;
                    letter-spacing: -.3em;
                    line-height: 3em;
                }
        .roboto-selected{
                    font-weight: 100;
                   
                }
                /* css for new progress bar */
        
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .circle-container {
            width: 305px;
            height: 305px;
            background-color: #70F3F8;
            border-radius: 50%;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }
        
        .semicircle {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: right center; 
        }

        .semicircle:nth-child(1) { 
            background-color: #70F3F8;
            z-index: 2;
            border-radius: 5px;
        }
        
        .semicircle:nth-child(2){
          background-color: #70F3F8;
          z-index: 3;
          border-radius: 5px;
        }
        
        .semicircle:nth-child(3){
            background-color: #70F3F8;
            z-index: 4;
            border-radius: 5px;
        }
        
 @media only screen and  (max-width: 769px){
        #container{
                max-width: 768px;
               }

        .start{
                position: relative;
                top: -15em;
                left: 7em;
               }

        #restart{
                color: #fff;
                letter-spacing: .9em; 
                cursor: pointer;  
                left: 7em;
                position: relative;
            }

        #clock-bg{
                width: 19em;
                height: 19em;
                left: 25.5em;
                left: 50%;
                top: 9em;
             
             }
    
        #clock-bg2{
                width: 17em;
                height: 17em;
                top: 1.1em;
                left: -0.1em;
                
            }
    
        .main-container {
                top: 9.5em;
                }
            
        .outermost-circle{
                    width: 230px;
                    height: 230px;
                   
                }

        .circle-container {
                    width: 250px;
                    height: 250px;
                   }
                
        .time-min{
                    font-size: 4em;
                    top: -3em;
                    left: 1em;
                    z-index: 5;
                 }
        
        .time-colon{
                    top: -3.1em;
                    left: 1em;
                    font-size: 4em;
                }
        
        .time-sec{
                    top: -3em;
                    left: 1em;
                    z-index: 5;
                    font-size: 4em;
                }

        .space-mono-selected{
                    margin-left: -.5em;
                    margin-top: 2em;
                    letter-spacing: -.3em;
                    line-height: 3em;
                }
            
        #settings_icon{
                    top: -1em;
                }
           
            #settings-dashboard{
                width: 480px;
                height: 450px;
                position: relative;
                top: 5em;
                right: 14em;
                right: 12em;  
            }

            #close_icon{
                margin-left: 15.7em;
                position: relative;
                top: -1.2em;
                }

            .one{
                top: -3em;
            }
             
            #time-text{
                margin-top: -3em;
            }
        
            input{
                width: 7em;
                height: 3.2em;
            }

            .Text1{
                margin-left: 2em;
            }
            .Text2{
                margin-left: 14em;
                margin-top: 7em;
            }
            .text2{
                margin-left: 12em;
                top: -2.5em;
            }
            .Text3{
                margin: -2em 2em 1em 25em;
                top: -13.8em;
             }
             .text3{
                margin: -5.5em 21.2em;
                top: -12.5em;
            }

             .two{
                position: relative;
                top: -8em;
                width: 25.5em;
                right: 11em;
                left: -9.9em;
            }

            .long_arrow{
                position: relative;
                right: -29.2em;
                top: -17.5em;
            }

        #font-styles{
            position: relative;
            top: -8.5em;
            left: -11em;
        }
           
        .f1{
            position: relative;
            top: -11.5em;
            left: 4em; 
        }

        .f2{
            position: relative;
            top: -11.5em;
            left: 6.5em;  
        }

        .f3{
            position: relative;
            top: -14.5em;
            left: 15.5em; 
        }

        .three{
            position: relative;
            width: 25.5em;
            right: 12em;
            left: -9.9em;
            top: -12em;
        }

        #change-colors{
            position: relative;
            top: -13em; 
            right: 11.5em;
        }

        .c1{
            position: relative;
            top: -15.5em;
            left: 4em;  
        }

        .c2{
            position: relative;
            top: -15.5em;
            left: 6.5em;  
        }

        .c3{
            position: relative;
            top: -15.7em;
            left: 9.5em;
        }

        .apply-button{
            position: relative;
            top: 14.5em;
            left: -1em;
        }

    }

    @media only screen and  (max-width: 600px){
            #font-styles{
            position: relative;
            top: -7.5em;
        }
           
        .f1{
            position: relative;
            top: -10.5em;
            left: 2em; 
        }

        .f2{
            position: relative;
            top: -13.3em;
            left: 7em;  
        }

        .f3{
            position: relative;
            top: -16.2em;
            left: 12em; 
        }

        .three{
            position: relative;
            width: 24em;
            right: 12em;
            left: -10.9em;
            top: -13em;
        }

        #change-colors{
            position: relative;
            top: -14em; 
            right: 13em;
        }

        .c1{
            position: relative;
            top: -17.5em;
            left: 2em;  
        }

        .c2{
            position: relative;
            top: -20.5em;
            left: 6.5em;  
        }

        .c3{
            position: relative;
            top: -23.7em;
            left: 11.5em;
        }

        .apply-button{
            position: relative;
            top: 14em;
            left: -3em;
        }
    }

    @media only screen and  (max-width: 426px){
        body{
            overflow: hidden;
        }

    #header{
            margin-left: 0em;
            margin-right: -5em;
        }

    #spans{
            margin-right: -12em;
            margin-left: 3em;
        }

    .start{
            top: -14.5em;
        }

    #clock-bg{
            left: 15em;
            top: 12em;
        }

    #settings_icon{
            top: 4em;
            left: 1.5em;
        }

    #settings-dashboard{
        width: 24em;
        height: 33em;
        top: 2em;
        position: fixed;
        left: 3em;
    }

    #close_icon{
        margin-left: 11.5em;
        margin-top: .1em;
        }

    #time-text{
            margin-left: 4em;
        }
    #doro{
        margin-left: 1.8em;
    }

    .three{
            left: -7.5em;
            top: 20em;
            width: 19em;
        }

    #change-colors{
            position: relative;
            top: 25em; 
            right: -1em;
            font-size: .8em;
            letter-spacing: 4.23077px;
            
        }

    .c1{
            position: relative;
            top:  23.5em;
            left: -2.5em;
            width: 3em;
            height: 3em;
            padding: 1.5em; 
        }

    .c2{
            position: relative;
            top:  23.5em;
            left: -1em;
            width: 3em;
            height: 3em; 
            padding: 1.5em;
        }

    .c3{
            position: relative;
            top:  23.5em;
            left: .1em;
            width: 3em;
            height: 3em;
            padding: 1.5em;
        }

    .apply-button{
            top: -2em;
            left: -4em;
            width: 6em;
            height: .1em;
            padding-top: 3em;
            padding-left: -5em;
            margin-top: 1.2em;
            }

    #applyID{
            font-size: 1.2em;
            position: absolute;
            top: .6em;
            left: 1.7em;
        }

    .two{
            position: relative;
            top: 26.4em;
            right: 12em;
            left: -7.5em;
            width: 19em;
        }

    #font-styles{
            font-size: .8em;
            position: relative;
            top: 32em; 
            left: 1em;
            }

    .f1{
            width: 3em;
            height: 3em;
            position: relative;
            top: 30.5em;
            left: -2.5em;
            
             }

    .f2{
            width: 3em;
            height: 3em;
            border-radius: 50%; 
            position: relative;
            top: 27.5em;
            left: 2em;
            }

    .f3{
            width: 3em;
            height: 3em;
            position: relative;
            top: 24.5em;
            left: 6em; 
        }
    
    input{
            width: 9em;
            height: 3em;
            border-radius: 1em;
        }

        input .Text1{
            cursor: pointer;
        }

        .text1{
            margin: 1em 2.5em;
            opacity: 0.7;
            top: 5em;
            font-size: 1.1em;
        }

        .text2{
            margin: -4.4em 1.8em;
            opacity: 0.7;
            position: relative;
            top: -.5em;
            font-size: 1.1em;
            
        }
        .text3{
            margin: -5.5em 2em;
            opacity: 0.7;
            position: relative;
            top: -8em;
            font-size: 1.1em;
        }

        .Text1{
          margin : 0em 1em 0.5em 3em;
          padding-left: 1em;
          position: relative;
          top: 0.5em;
          right: -.1em;
          
          }
          .pomodoro_arrow{
            left: 21em;
            top: -2.5em;
            }
            
        .Text2{
            margin: 8em 1em 0em 15.5em;
            padding-left: 1em;
            position: relative;
            top: -10em;
            }
        .short_arrow{
            left: 21em;
            top: -12.5em;
            }

        .Text3{
            margin: -2em 2em 1em 15.5em;
            position: relative;
            top: -11.5em;
            padding-left: 1em;
           
        }
        .long_arrow{
            top: -15em;
            left: 21em; 
        }

        .display-path{ 
            position: relative;
            top: -1em;
            left: -1em;
        }
}

@media only screen and  (max-width: 376px){
        #settings-dashboard{
            height: 35em;
            left: 2em;
            top: 2.5em;
        }  

        #header{
            margin-left: 0em;
            margin-right: -7em;
        }

        #settings_icon{
            top: 5em;
            left: 1.5em;
        }

        .apply-button{
            top: .2em;
        }

        .c1{
            top: 26em;
        }

        .c2{
            top: 26em;
        }

        .c3{
            top: 26em;
        }

        #change-colors{
            top: 27em;
        }

        .three{
            top: 21.5em;
            left: -7em;
        }

        .two{
            left: -7em;
            top: 27em;
        }

        #font-styles{
            top: 33.5em;
        }

        .f1{
            top: 32em;
        }
        .f2{
            top: 29em;
        }
        .f3{
            top: 26em;
        }

        #clock-bg{
            left: 14em;
            top: 12em;
        }
    }
    
    @media only screen and  (max-width: 321px){
        #header{
            margin-left: 0em;
            margin-right: -11em;
        }

        .three{
            top: 25em;
            left: -4em;
        }

        .two{
            left: -4em;
            top: 28em;
        }

        #settings-dashboard{
            height: 42em;
            left: 3em;
            top: 3em;
        }  

        .c1{
            top: 33em;
            left: -.1em;
        }
        .c2{
            top: 33em;
            left: 1.5em;
        }
        .c3{
            top: 33em;
            left: 3em;
        }

        #change-colors{
            top: 32em;
            left: 4em;
        }
        .apply-button{
            top: 7em;
        }

        .f1{
            top: 35em;
            left: -.5em;
        }

        .f2{
            top: 32em;
            left: 4em;
        }

        .f3{
            top: 29em;
            left: 9em;
        }

        #font-styles{
            top: 35em;
            left: 4em;
        }
        #settings_icon{
            left: 4em;
            top: 7em;
        }

    }
   