@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Space+Mono:ital@1&display=swap');

body{
    background-color: #1E213F;
    overflow-x: hidden;
    overflow-y: hidden;
    font-style: normal;
    font-family: 'Kumbh Sans';
} 


#container{
    text-align: center;
    }

#spans{
    width: 23.313em;
    height: 4em;
    background-color: #161932; 
    border-radius: 40px;
    margin: 1em auto;

    }

   
    .options{
        height: 3.5em;
        width: 8em;
        position: relative;
        color: #D7E0FF;
        border-radius: 40px;
        border: none;
        z-index: 6;
        font-weight: 700;
        cursor: pointer;
        background-color: #161932;
        margin-top: .6em;
        }

        .optionsPomo{
            height: 3.5em;
            width: 8em;
            position: relative;
            color: #D7E0FF;
            border-radius: 40px;
            border: none;
            z-index: 6;
            font-weight: 700;
            cursor: pointer;
            background-color: #F87070;
            margin-top: .6em;
            }
    

     #clock-bg{
            width: 25em;
            height: 25em;
            border-radius: 50%;
            position: relative;
            background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
            left: 25.5em;
            left: 50%;
            top: 13em;
            transform: translate(-50%,-50%);
         }

         #clock-bg2{
            width: 22em;
            height: 22em;
            margin: auto;
            background-color: #161932;
            border-radius: 100%;
            position: relative;
            top: 1.5em;
            left: -0.1em;
            opacity: 0.2;
            z-index: 2;
        }

        .main-container {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 12.4em;
            left: 50%;
            right: 50%;
           transform: translate(-50%,-50%);
            }
        
            .outermost-circle{
                width: 300px;
                height: 300px;
                background-color: #161932;
                border-radius: 50%;   
                z-index: 5;
               
            }
        
            .time-min{
            font-size: 4.5em;
            color: #D7E0FF;
            margin: auto;
            position: relative;
            top: -3.5em;
            left: 1.4em;
            z-index: 5;
            font-weight: 400;
         }

        .time-colon{
            font-size: 5.5em;
            color: #D7E0FF;
            margin: auto;
            position: relative;
            top: -2.9em;
            left: 1em;
            z-index: 5;
            font-size: 5.5em;
            font-weight: 400;
        }

        .time-sec{
            font-size: 5.5em;
            color: #D7E0FF;
            margin: auto;
            position: relative;
            top: -3.5em;
            left: 1.1em;
            z-index: 5;
            font-size: 4.5em;
            font-weight: 400;
        }

        .start{
            color: #D7E0FF;
            letter-spacing: 0.5em;
            position: relative;
            left: 10.2em;
            right: 2em;
            top: -18em;
            cursor: pointer;
            background-color: transparent;
            border: none;
            font-weight: 600;
            z-index: 5;
            letter-spacing: 15px; 
           

        }
        .pause{
            color: #fff;
            letter-spacing: 0.5em; 
            cursor: pointer;
        }
        #restart{
            color: #fff;
            letter-spacing: 1em; 
            cursor: pointer;  
            left: 9em;
            position: relative;
        }

         #settings_icon{
            margin: 3% 45% 1% 49%;
            position: relative;
            top: -1em;
            left: -.1em;
        }

        #settings{
            margin: 4% 38% 1% 47%; 
            position: relative;
            top: -36em;
            bottom: 3em;
            display: none;
            z-index: 6;
        }

        #settings-dashboard{
            background-color: #fff;
            width: 32em;
            height: 28em;
            border-radius: 2em;
            margin: auto;
            position: relative;
            right: 14em;
            }

        #settings-text{
                font-size: 1.5em;
                font-family: sans-serif;
                font-weight: 600;
                padding: 1em 1.5em;
            }

        #close_icon{
                padding-left: 12em;
                }

            .one{
                position: relative;
                top: -1.5em;
            }

        #time-text{
                padding: 0em 1.9em;
                margin-top: -0.8em;
                letter-spacing: 8.23077px;
                font-size: 0.85em;
                font-weight: 600;
                }

        input{
                width: 8em;
                height: 2.5em;
                border-radius: 0.8em;
                border: none;
                cursor: pointer;
                background-color: #EFF1FA;
            }

            .pomodoro_arrow{
                position: relative;
                top: 3em;
                right: 15em;
                background-color: #EFF1FA;
                border: none;
                cursor: pointer;
            }

            .short_arrow{
                position: relative;
                right: 5.2em;
                top: -9.5em;
                background-color: #EFF1FA;
                border: none;
                cursor: pointer;
            }

            .long_arrow{
                position: relative;
                right: -31.5em;
                top: -16em;
                background-color: #EFF1FA;
                border: none;
                cursor: pointer;
            }

            .arrow_up{
                position: relative;
                top: -0.5em;
                left: 1.5em
            }

            .arrow_down{
                position: relative;
                top: 0.5em;
                right: -0.15em 
            }

            input .Text1{
                cursor: pointer;
            }

            .text1{
                margin: 1em 1em;
                opacity: 0.7;
                
            }

            .text2{
                margin: -4.4em 11.2em;
                opacity: 0.7;
                position: relative;
                top: -2em;
            }
            .text3{
                margin: -5.5em 22.2em;
                opacity: 0.7;
                position: relative;
                top: -12em;
            }

            .Text1{
            margin : 0em 1em 0.5em 3em;
            padding-left: 1em;
              position: relative;
              top: 3em;
              right: 10em;
               
              }
            .Text2{
                margin: 8em 1em 0em 13em;
                padding-left: 1em;
                position: relative;
                top: -9.5em;
            }
            .Text3{
               margin: -2em 2em 1em 26em;
                position: relative;
                top: -13em;
                padding-left: 1em;
            }

            .two{
                position: relative;
                top: -14em;
                width: 28em;
                right: 13em;
                left: -11em;
            }

            #font-styles{
                letter-spacing: 0.8em;
                font-size: 0.85em;
                position: relative;
                top: -15em; 
                right: 13em;
                font-weight: 600;
            }

            .f1{
                font-family: 'Kumbh Sans', sans-serif;
                width: 3em;
                height: 3em;
                border-radius: 50%;
                /*background-color: #EFF1FA; */
                position: relative;
                top: -18em;
                left: 5em;
                border: none;
                cursor: pointer;
                 }

            .f2{
                font-family: 'Roboto Slab', serif;
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: #EFF1FA; 
                position: relative;
                top: -18em;
                left: 7em;
                border: none;
                cursor: pointer;
            }

            .f3{
                font-family: 'Space Mono';
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: #EFF1FA;
                position: relative;
                top: -18em;
                left: 9em;
                border: none;
                cursor: pointer;
                
            }

            .three{
                width: 28em;
                position: relative;
                top: -14em;
                right: 11em;
            }

            #change-colors{
                letter-spacing: 0.8em;
                font-size: 0.85em;
                position: relative;
                top: -15em; 
                right: 13em;
                font-weight: 600;
            }

            .c1{
                width: 3em;
                height: 3em;
                border-radius: 50%;
                background-color: #F87070; 
                position: relative;
                top: -18em;
                left: 5em;
                border: none;
                cursor: pointer;
                 }

                .c2{
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                    background-color: #70F3F8;
                    border: none;
                    position: relative;
                    top: -18em;
                    left: 7em;
                    cursor: pointer;
                }

                .c3{
                    width: 3em;
                    height: 3em;
                    border-radius: 50%;
                    background-color: #D881F8;
                    position: relative;
                    top: -18em;
                    left: 9em;
                    border: none;
                    cursor: pointer;
                }

                .apply-button{
                    width: 5em;
                    height: 2em;
                    background-color: #EFF1FA;
                    border-radius: 26.5px;
                    padding-left: 2em;
                    padding-top: 1em;
                    margin-top: -15em;
                    margin-left: 12em;
                    position: relative;
                    top: 15em;
                    z-index: 0;
                    cursor: pointer;
                }

                .hide_btn {
                    display: none;
                }
                .show_btn {
                    display: block;
                }
                .Pause {
                    display: none;
                }
                .Restart {
                    display: none;
                }

                .default-font-bg-color{
                    background-color: #EFF1FA;
                }

                .bg-default{
                    background-color: #161932;
                }

                .default-font-color{
                    color: #000;
                }

                .selected-font-color{
                    color: #fff;
                }

                .initial-color{
                    background-color: #70F3F8;
                }

                .first-color-display{
                    background-color: #F87070; 
                    
                }
                .second-color-display{
                    background-color: #70F3F8;
                }
                .third-color-display{
                    background-color: #D881F8;  
                }
                .DefaultColor{
                    background-color: #161932;
                }
                .DisplayF1{
                    font-family: 'Kumbh Sans';
                }
                .DisplayF2{
                    font-family: 'Roboto Slab', serif;
                }
                .DisplayF3{
                    font-family: 'Space Mono';
                }
                /* css for new progress bar */
        
            .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
            
        
        .circle-container {
            width: 320px;
            height: 320px;
           background-color: #70F3F8;
            border-radius: 50%;
            position: relative;
            z-index: 1;
            overflow: hidden;
        
        }
        
        .semicircle {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: right center;
            
        }
        
        .semicircle:nth-child(1) { 
            background-color: #70F3F8;
            z-index: 2;
        }
        
        .semicircle:nth-child(2){
          background-color: #70F3F8;
          z-index: 3;
        }
        
        .semicircle:nth-child(3){
            background-color: #70F3F8;
            z-index: 4;
        }
        
        @media only screen and  (max-width: 769px){
            #container{
                max-width: 768px;

               }

               .start{
                position: relative;
                top: -17em;
                left: 8em;
               }

               #restart{
                color: #fff;
                letter-spacing: .9em; 
                cursor: pointer;  
                left: 7em;
                position: relative;
            }

               #clock-bg{
                width: 21em;
                height: 21em;
                left: 25.5em;
                left: 50%;
                top: 10em;
             
             }
    
             #clock-bg2{
                width: 19em;
                height: 19em;
                top: 1.1em;
                left: -0.1em;
                
            }
    
            .main-container {
                top: 10.5em;
                }
            
                .outermost-circle{
                    width: 260px;
                    height: 260px;
                   
                }

                .circle-container {
                    width: 280px;
                    height: 280px;
                   }
                
                   .time-min{
                    font-size: 4.5em;
                    top: -3.2em;
                    left: 1em;
                    z-index: 5;
                 }
        
                .time-colon{
                    top: -2.65em;
                    left: 0.7em;
                  
                }
        
                .time-sec{
                    top: -3.2em;
                    left: .7em;
                    z-index: 5;
                    font-size: 4.5em;
                }
            
                #settings_icon{
                    top: -1em;
                }
           
            #settings-dashboard{
                width: 420px;
                height: 450px;
                position: relative;
                top: 5em;
                right: 14em;
                right: 12em;
                
            }

            input{
                width: 6em;
            }

            .Text3{
                margin: -2em 2em 1em 23.5em;
             }

             .two{
                position: relative;
                top: -8em;
                width: 24em;
                right: 12em;
                left: -10.9em;
            }

            .long_arrow{
                position: relative;
                right: -26.8em;
            }

            .text3{
                margin: -5.5em 20.2em;
            }

        #font-styles{
            position: relative;
            top: -8.5em;
        }
           

        .f1{
            position: relative;
            top: -11.5em;
            left: 2em; 
        }

        .f2{
            position: relative;
            top: -11.5em;
            left: 4em;  
        }

        .f3{
            position: relative;
            top: -14.5em;
            left: 12em; 
        }

        .three{
            position: relative;
            width: 24em;
            right: 12em;
            left: -10.9em;
            top: -12em;
        }

        #change-colors{
            position: relative;
            top: -13em; 
            right: 13em;

        }

        .c1{
            position: relative;
            top: -16.5em;
            left: 2em;  
        }

        .c2{
            position: relative;
            top: -16.5em;
            left: 4em;  
        }

        .c3{
            position: relative;
            top: -19.7em;
            left: 12.5em;
        }

        .apply-button{
            position: relative;
            top: 13em;
            left: -3em;
        }
    }

    @media only screen and  (max-width: 600px){
            #font-styles{
            position: relative;
            top: -7.5em;
        }
           

        .f1{
            position: relative;
            top: -10.5em;
            left: 2em; 
        }

        .f2{
            position: relative;
            top: -13.3em;
            left: 7em;  
        }

        .f3{
            position: relative;
            top: -16.2em;
            left: 12em; 
        }

        .three{
            position: relative;
            width: 24em;
            right: 12em;
            left: -10.9em;
            top: -13em;
        }

        #change-colors{
            position: relative;
            top: -14em; 
            right: 13em;

        }

        .c1{
            position: relative;
            top: -17.5em;
            left: 2em;  
        }

        .c2{
            position: relative;
            top: -20.5em;
            left: 6.5em;  
        }

        .c3{
            position: relative;
            top: -23.7em;
            left: 11.5em;
        }

        .apply-button{
            position: relative;
            top: 14em;
            left: -3em;
        }
    }

    @media only screen and  (max-width: 426px){
        body{
            overflow: hidden;
        }

        #header{
            margin-left: 0em;
            margin-right: -5em;
        }

        #spans{
            margin-right: -12em;
            margin-left: 3em;
           
        }

       .start{
            top: -16.5em;
        }

        #clock-bg{
            left: 15em;
            top: 12em;
        }

        #settings_icon{
            top: 3em;
            padding-left: 2em;
        }

        #settings-dashboard{
        width: 26em;
        height: 34em;
        top: 2em;
        position: fixed;
        left: 3em;
    }

    #close_icon{
        padding-left: 7em;
        }

        #time-text{
            margin-left: 6em;
        }

        .three{
            left: -8.9em;
            top: 17.5em;
        }

        #change-colors{
            position: relative;
            top: 17em; 
            right: -1em;
            font-size: 1em;
            letter-spacing: 4.23077px;
        }

        .c1{
            position: relative;
            top:  19em;
            left: -4.5em;
            width: 3.5em;
            height: 3.5em; 
        }

        .c2{
            position: relative;
            top:  15.5em;
            left: 2.9em;
            width: 3.5em;
            height: 3.5em; 
        }

        .c3{
            position: relative;
            top:  11.5em;
            left: 10em;
            width: 3.5em;
            height: 3.5em;
        }

        .apply-button{
            top: .1em;
            left: -3em;
            width: 6.5em;
            height: .1em;
            padding-top: 3em;
            padding-left: -5em;
            margin-top: 1.5em;
            }

        #applyID{
            font-size: 1.4em;
            position: absolute;
            top: .6em;
            left: 1.4em;
        }

        .two{
            position: relative;
            top: 24.5em;
            right: 12em;
            left: -8.5em;
        }

        #font-styles{
            font-size: 1em;
            position: relative;
            top: 24em; 
            right: -1em;
            }

        .f1{
            width: 3.5em;
            height: 3.5em;
            position: relative;
            top: 28em;
            left: -4.5em;
            
             }

        .f2{
            width: 3.5em;
            height: 3.5em;
            border-radius: 50%; 
            position: relative;
            top: 24.5em;
            left: 3em;
            }

        .f3{
            width: 3.5em;
            height: 3.5em;
            position: relative;
            top: 21em;
            left: 10em;
            
        }
    
        input{
            width: 8em;
            height: 3em;
            border-radius: 1em;
            
        }

        input .Text1{
            cursor: pointer;
        }

        .text1{
            margin: 1em 2em;
            opacity: 0.7;
            top: 5em;
            font-size: 1.1em;
        }

        .text2{
            margin: -4.4em 2em;
            opacity: 0.7;
            position: relative;
            top: 1em;
            font-size: 1.1em;
            
        }
        .text3{
            margin: -5.5em 2em;
            opacity: 0.7;
            position: relative;
            top: -7em;
            font-size: 1.1em;
        }

        .Text1{
          margin : 0em 1em 0.5em 3em;
          padding-left: 1em;
          position: relative;
          top: 0.5em;
          right: -3.5em;
          
          }
          .pomodoro_arrow{
            left: -2em;
            top: .5em;
            }
            
        .Text2{
            margin: 8em 1em 0em 18.5em;
            padding-left: 1em;
            position: relative;
            top: -9em;
            }
        .short_arrow{
            left: 23.5em;
            top: -11em;
            }

        .Text3{
           margin: -2em 2em 1em 18.5em;
            position: relative;
            top: -10.5em;
            padding-left: 1em;
           
        }
        .long_arrow{
            top: -14em;
            left: 23.5em; 
        }
}

@media only screen and  (max-width: 376px){
        #settings-dashboard{
            height: 37em;
            left: 2em;
        }  

        #header{
            margin-left: 0em;
            margin-right: -7em;
        }

        
        #settings_icon{
            top: 5em;
            padding-left: 3.5em;
        }

        .apply-button{
            top: 3em;
        }

        .c1{
            top: 21em;
        }

        .c2{
            top: 17.5em;
        }

        .c3{
            top: 13.5em;
        }

        #change-colors{
            top: 18em;
        }

        .three{
            top: 18em;
            left: -8em;
        }

        .two{
            left: -8em;
        }

        #clock-bg{
            left: 14em;
            top: 12em;
        }
    }
    
    @media only screen and  (max-width: 321px){
        #header{
            margin-left: 0em;
            margin-right: -11em;
        }

        .three{
            top: 22em;
            left: -7em;
        }

        .two{
            left: -7em;
            top: 27em;
        }

        #settings-dashboard{
            height: 42em;
            left: 2em;
            top: 4em;
        }  

        .c1{
            top: 28em;
            left: -2em;
        }

        .c2{
            top: 24.5em;
            left: 5em;
        }

        .c3{
            top: 21em;
            left: 12em;
        }

        #change-colors{
            top: 22em;
            left: 3em;
        }
        .apply-button{
            top: 8em;
        }

        .f1{
            top: 32em;
            left: -2.5em;
        }

        .f2{
            top: 29em;
            left: 5em;
        }

        .f3{
            top: 25.5em;
            left: 12.5em;
        }

        #font-styles{
            top: 27em;
            left: 3em;
        }

    }
   